Heureka_DMS/pkgs/Wadl/DMS_SystemAction_35_CanvasApp.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="DMS_SystemAction_35_CanvasApp" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="DMS_SystemAction_35_CanvasApp" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Z_uxED_skatpolo_Ux017E_ku_Adresawebu_def" />
      <string name="ManualTriggerInput_Z_uxED_skatpolo_Ux017E_ku_N_uxE1_zevseznamu_def" />
      <integer name="ManualTriggerInput_Z_uxED_skatpolo_Ux017E_ku_ID_def" />
      <object name="ManualTriggerInput">
        <property name="Získatpoložku_Adresawebu" type="string" />
        <property name="Získatpoložku_Názevseznamu" type="string" />
        <property name="Získatpoložku_ID" type="integer" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Získatpoložku_Adresawebu" path="/Získatpoložku_Adresawebu" type="xs:string" required="true" />
            <param style="plain" name="Získatpoložku_Názevseznamu" path="/Získatpoložku_Názevseznamu" type="xs:string" required="true" />
            <param style="plain" name="Získatpoložku_ID" path="/Získatpoložku_ID" type="xs:long" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>